*{
    box-sizing: border-box;
}
.postwrapper{
    max-width: fit-content;
    display: flex;
    background-color:#e6e6e6;
    flex-direction: column;
    padding:2rem;
    margin: 1rem;
    justify-content: center;
    border-radius: 20px;
}
.posttopwrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    /* border-bottom: 0.5px solid #dbdbdb; */
    /* background-color:aqua */
}
.namepicwrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    /* background-color:green */
}
.imagewrapper{
    /* width:max-content; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* padding:3rem; */
    /* background-color:orange; */
    /* border-bottom: 1px solid grey; */
}
.leftsideicons{
    gap:20px;
    display:flex;
}

.bottomwrapper{
    border:10px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    gap:3rem;
    align-items: baseline;
    /* background-color:lightblue; */
}
.addcommentwrapper{
    display:flex;
    /* background-color:pink; */
}
.addcomment{
    display: flex;
    align-items: flex-end;
}
.namepicwrapper img{
    width:35px;border-radius: 100px; height: 40px;
}
.followwrapper button{
    /* border-radius:15px;color:white;background-color:cadetblue;
    font-size:18px;
    padding:3px;
    border-style:solid; */
    color:white;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 3px;
    font-size: 18px;   
}
.followwrapper button:hover{
    /* border-radius:15px;color:white;background-color:cadetblue;
    font-size:18px;
    padding:3px;
    border-style:solid; */
    border-radius: 15px;
    padding: 3px;
    font-size: 18px;  
    background-color: teal;
    color:white;
    border:1px solid white;
    transform: scale(1.1);
}

.leftsideicons img,.rightsideicons img{
    width:20px;border-radius: 50px;
}
.imagewrapper img{
   width:300px;
   object-fit: contain;
   padding:5px;
}
.comments{
    display:flex;
}
.addcommentwrapper input{
    margin-top: 5px;
    width:max-content;
    border-radius: 20px;
    padding:2px;
    background-color: aliceblue;
}

.comment-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-wrapper button{
    /* border-radius:15px;
    color:white;background-color:cadetblue;
    font-size:12px;
    padding:3px;align-self: center;
    border-style:solid; */
    color:white;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 3px;
    align-self: center;
}
.comment-wrapper button:hover{
    /* border-radius:15px;
    color:white;background-color:cadetblue;
    font-size:12px;
    padding:3px;align-self: center;
    border-style:solid; */
    background-color: teal;
    color:white;
    border:1px solid white;
    transform: scale(1.0);
    border-radius: 10px;
    padding: 3px;
    align-self: center;
}
.comment-updater{
    font-size:15px;
    font-weight: lighter;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    border-top-left-radius: 6px;     
    border-bottom-right-radius: 6px;
    background-color:rgb(146, 218, 210);
    width:fit-content;
}